.DS_Store
data
test
node_modules
.gitignore
.npmignore
benchmark.js
index.html
rollup.config.js
server.js

# Log files
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
yarn.lock
package-lock.json